{% extends 'base.html' %}
{% block content %}
<div class="container">
<br>
<h2>Sign Up</h2>
<hr>
<br>
    <form method="POST" class="form-group card p-4 ">
        {% csrf_token %}
        <input type="text" name="username" required placeholder="username" class="form-control" /><br>
        <input type="password" name="password" required placeholder="password" class="form-control" /><br>
        <input type="password" name="confirm_password" placeholder="confirm password" required class="form-control" /><br>

        <button type="submit" class="btn btn-success">Register</button>
    </form>
    <br>
    <p>Already have an account? <a href="{% url 'login' %}">Login</a></p>
</div>
{% endblock %}